<script setup lang="ts">
  import { ref, defineProps, toRefs, reactive, onMounted } from "vue"
  import {
    FormLabel,
    FormCheck,
    FormSwitch,
    FormInput,
    FormSelect,
  } from "@/base-components/Form"
  import { Menu, Dialog } from "@/base-components/Headless"
  import Button from "@/base-components/Button"
  import Lucide from "@/base-components/Lucide"
  import {
    required,
    minLength,
    maxLength,
    email,
    url,
    integer,
    numeric,
    requiredIf,
  } from "@vuelidate/validators"
  import { useVuelidate } from "@vuelidate/core"
  import {
    IEmployee,
    IItem,
    IService,
    IServiceInput,
  } from "@/_helper/types-api"
  import TomSelect from "@/base-components/TomSelect"
  import { toast } from "vue3-toastify"
  import fetchWrapper from "@/utils/axios/fetch-wrapper"

  const props = defineProps({
    modalPreview: Boolean,
    item: Object,
  })

  const emit = defineEmits<{
    (e: "close", value: boolean): void
    (e: "changeCategory"): void
  }>()

  const employeeList = ref<IEmployee[]>([])
  const formData = reactive({
    employeeCode: "",
  })
  const initialFormData = { ...formData }

  const closeModal = () => {
    Object.assign(formData, initialFormData)
    emit("close", false)
  }

  // Item
  const itemList = ref<IItem[]>([])
  const getItem = async () => {
    try {
      const response = await fetchWrapper.get("master/item")
      itemList.value = response.item as IItem[]
    } catch {}
  }

  interface assign {
    itemCode: string
    amount: number
  }
  const assignItem = ref<assign>({
    itemCode: "",
    amount: 0,
  })
  const onSubmit = async () => {
    try {
      const data = [assignItem.value]
      const response = await fetchWrapper.put(
        `item/assign-item/${props.item?.itemCode}`,
        data
      )
      toast.success(response.message)
      emit("changeCategory")
      closeModal()
    } catch (error: any) {
      toast.error(error.response?.data.message)
    }
  }
  interface cat {
    _id: string
    categoryName: string
  }
  const sendButtonRef = ref(null)

  onMounted(() => {
    setTimeout(() => {
      getItem()
    }, 20)
  })
</script>

<template>
  <Dialog
    :open="props.modalPreview"
    @close="closeModal"
    :initialFocus="sendButtonRef">
    <Dialog.Panel>
      <Dialog.Title>
        <h2 class="mr-auto text-base font-medium">Service Item</h2>
      </Dialog.Title>
      <Dialog.Description>
        <form class="validate-form grid gap-4" @submit.prevent="onSubmit">
          <div class="!box">
            <el-select
              class="w-full"
              v-model="assignItem.itemCode"
              filterable
              placeholder="Pilih Item">
              <el-option
                v-for="item in itemList"
                :key="item.itemName"
                :label="item.itemName"
                :value="item.itemCode" />
            </el-select>
          </div>
          <div class="!box">
            <el-input
              type="number"
              v-model="assignItem.amount"
              placeholder="Masukkan Jumlah" />
          </div>
          <Button variant="primary" type="submit" class="mt-5"> Save </Button>
        </form>
      </Dialog.Description>
    </Dialog.Panel>
  </Dialog>
</template>
