<script setup lang="ts">
import { ref, defineProps, toRefs, reactive, onMounted, watch } from "vue";
import {
  FormCheck,
  FormSwitch,
  FormLabel,
  FormInput,
  FormSelect,
} from "@/base-components/Form";
import { Menu, Dialog } from "@/base-components/Headless";
import Button from "@/base-components/Button";
import Lucide from "@/base-components/Lucide";
import {
  required,
  minLength,
  maxLength,
  email,
  url,
  integer,
  numeric,
  requiredIf,
} from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";
import {
  IEmployee,
  IExpensesInput,
  IItem,
  IService,
  IServiceInput,
  IUserInput,
} from "@/_helper/types-api";
import { toast } from "vue3-toastify";
import fetchWrapper from "@/utils/axios/fetch-wrapper";
import { getDateMeta } from "@fullcalendar/vue3";

const props = defineProps({
  modalPreview: Boolean,
  item: Object,
});

const emit = defineEmits<{
  (e: "close", value: boolean): void;
  (e: "update"): void;
}>();

const formData = reactive<IExpensesInput>({
  description: "",
  itemCode: "",
  itemName: "",
  paymentMethod: "",
  note: "",
  amount: 0,
  price: 0,
});

const expensesChoose = ref(null);
const initialFormData = { ...formData };

const closeModal = () => {
  Object.assign(formData, initialFormData);
  emit("close", false);
};

const rules = {
  description: {
    required: function () {
      return expensesChoose.value !== "Pembelian Barang";
    },
  },
  amount: {
    required,
  },
  price: {
    required,
  },
};
const validate = useVuelidate(rules, toRefs(formData));
const onSubmit = async () => {
  validate.value.$touch();
  if (validate.value.$invalid) {
    toast.error("error");
  } else {
    try {
      const response = await fetchWrapper.post("report/expenses", formData);
      toast.success(response.message);
      validate.value.$reset();
      closeModal();
      emit("update");
    } catch (error: any) {
      toast.error(error.response?.data.message);
    }
  }
};

// Get Item
const itemList = ref<IItem[]>([]);
const getItem = async () => {
  const response = await fetchWrapper.get("master/item");
  itemList.value = response.item as IItem[];
};

// Payment Method
const paymentMethod = ref(["CASH", "DEBIT", "TRANSFER"]);

type Option = {
  id: number;
  itemCode: string;
  itemName: string;
};
const itemSelected = ref<Option>();

watch(formData, (newValue: any) => {
  const item = itemList.value.find(
    (item: any) => item.itemCode === newValue.itemCode
  );
  if (item) {
    formData.price = item.itemPrice;
  }
});

watch(itemSelected, (newValue: any) => {
  formData.itemCode = newValue.itemCode;
  formData.itemName = newValue.itemName;
});

const sendButtonRef = ref(null);
onMounted(() => {
  setTimeout(() => {
    getItem();
  }, 20);
});
</script>

<template>
  <Dialog
    :open="props.modalPreview"
    @close="closeModal"
    :initialFocus="sendButtonRef"
  >
    <Dialog.Panel>
      <Dialog.Title>
        <h2 class="mr-auto text-base font-medium">Pengeluaran</h2>
      </Dialog.Title>
      <Dialog.Description>
        <form class="validate-form grid gap-4" @submit.prevent="onSubmit">
          <div class="input-form">
            <FormLabel
              htmlFor="validation-form-1"
              class="flex flex-col w-full sm:flex-row"
            >
              Pilih Pengeluaran
            </FormLabel>
            <el-select
              v-model="expensesChoose"
              class="w-full"
              placeholder="Select"
              size="large"
            >
              <el-option
                v-for="item in ['Pengeluaran', 'Pembelian Item']"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
          </div>

          <div v-if="expensesChoose === 'Pembelian Item'" class="input-form">
            <FormLabel
              htmlFor="validation-form-1"
              class="flex flex-col w-full sm:flex-row"
            >
              Pilih Item
            </FormLabel>
            <el-select
              v-model="itemSelected"
              value-key="id"
              class="w-full"
              placeholder="Select"
              size="large"
            >
              <el-option
                v-for="item in itemList"
                :key="item._id"
                :label="item.itemName"
                :value="item"
              />
            </el-select>
          </div>

          <div v-else class="input-form">
            <FormLabel
              htmlFor="validation-form-1"
              class="flex flex-col w-full sm:flex-row"
            >
              Keterangan
            </FormLabel>
            <FormInput
              id="validation-form-1"
              v-model.trim="validate.description.$model"
              type="text"
              name="description"
              :class="{
                'border-danger': validate.description.$error,
              }"
              placeholder="Tuliskan ..."
            />
            <template v-if="validate.description.$error">
              <div
                v-for="(error, index) in validate.description.$errors"
                :key="index"
                class="mt-2 text-danger"
              >
                {{ error.$message }}
              </div>
            </template>
          </div>

          <div class="input-form">
            <FormLabel
              htmlFor="validation-form-1"
              class="flex flex-col w-full sm:flex-row"
            >
              Jumlah
              <!-- <span class="mt-1 text-xs sm:ml-auto sm:mt-0 text-slate-500">
                Required, at least 2 characters
              </span> -->
            </FormLabel>
            <FormInput
              id="validation-form-1"
              v-model.trim="validate.amount.$model"
              type="number"
              name="amount"
              :class="{
                'border-danger': validate.amount.$error,
              }"
              placeholder="Tuliskan ..."
            />
            <template v-if="validate.amount.$error">
              <div
                v-for="(error, index) in validate.amount.$errors"
                :key="index"
                class="mt-2 text-danger"
              >
                {{ error.$message }}
              </div>
            </template>
          </div>

          <div v-if="expensesChoose !== 'Pembelian Item'" class="input-form">
            <FormLabel
              htmlFor="validation-form-1"
              class="flex flex-col w-full sm:flex-row"
            >
              Nominal
            </FormLabel>
            <FormInput
              id="validation-form-1"
              v-model.trim="validate.price.$model"
              type="number"
              name="price"
              :class="{
                'border-danger': validate.price.$error,
              }"
              placeholder="Tuliskan ..."
            />
            <template v-if="validate.price.$error">
              <div
                v-for="(error, index) in validate.price.$errors"
                :key="index"
                class="mt-2 text-danger"
              >
                {{ error.$message }}
              </div>
            </template>
          </div>

          <div class="input-form">
            <FormLabel
              htmlFor="validation-form-1"
              class="flex flex-col w-full sm:flex-row"
            >
              Metode Pembayaran
            </FormLabel>
            <el-select
              v-model="formData.paymentMethod"
              class="w-full"
              placeholder="Pilih Metode Pembayaran"
              size="large"
            >
              <el-option
                v-for="item in paymentMethod"
                :key="item"
                :label="item"
                :value="item"
              />
            </el-select>
          </div>
          <div class="input-form">
            <FormLabel
              htmlFor="validation-form-1"
              class="flex flex-col w-full sm:flex-row"
            >
              Note
              <!-- <span class="mt-1 text-xs sm:ml-auto sm:mt-0 text-slate-500">
                Required, at least 2 characters
              </span> -->
            </FormLabel>
            <FormInput
              id="validation-form-1"
              v-model="formData.note"
              type="text"
              name="note"
              placeholder="Tuliskan ..."
            />
          </div>
          <Button variant="primary" type="submit" class="mt-5"> Save </Button>
        </form>
      </Dialog.Description>
    </Dialog.Panel>
  </Dialog>
</template>
