<template>
  <div class="sticky-table">
    <vue3-datatable
      :rows="props.dataList"
      :columns="props.cols"
      :loading="props.loading"
      :totalRows="props.meta?.totalItems"
      :isServerMode="true"
      :pageSize="props.params?.pagesize"
      :sortable="true"
      :sortColumn="props.params?.sort_column"
      :sortDirection="props.params?.sort_direction"
      :stickyFirstColumn="true"
      :stickyHeader="true"
      :height="'400px'"
      :showNumbersCount="3"
      class="alt-pagination"
      @change="changePagination"
    >
      <template #incomeEarn="data">
        <strong>Rp. {{ formatCurrency(data.value.incomeEarn) }}</strong>
      </template>
    </vue3-datatable>
  </div>
</template>
<script setup lang="ts">
import { formatCurrency, formatDate } from "@/utils/helper";
import Button from "@/base-components/Button";
import { ref } from "vue";
import router from "@/router";

const props = defineProps({
  dataList: Array,
  cols: Array,
  meta: Object,
  params: Object,
  loading: Boolean,
});
const emit = defineEmits<{
  (e: "update", value: any): void;
  (e: "edit", value: any): void;
  (e: "changeCategory"): void;
  (e: "delete", value: any): void;
}>();

const changeCategory = () => {
  emit("changeCategory");
};

const changePagination = (data: any) => {
  emit("update", data);
};

const editData = (data: any) => {
  emit("edit", data);
};

const deleteData = (data: any) => {
  emit("delete", data);
};

// const rowClick = (data: any) => {
//   router.push(`/detail-service/${data.itemCode}`)
// }
</script>
<style>
.sticky-table .bh-table-responsive table thead tr th {
  @apply whitespace-nowrap;
}
.sticky-table .bh-table-responsive table tbody tr td {
  @apply lg:whitespace-nowrap;
}

/* alt-pagination */
.alt-pagination .bh-pagination .bh-page-item {
  @apply !w-max min-w-[32px] !rounded;
}

/* next-prev-pagination */
.next-prev-pagination .bh-pagination .bh-page-item {
  @apply !w-max min-w-[100px] !rounded;
}
.next-prev-pagination .bh-pagination > div:first-child {
  @apply flex-col font-semibold;
}
.next-prev-pagination .bh-pagination .bh-pagination-number {
  @apply mx-auto gap-3;
}
</style>
