<script setup lang="ts">
  import _ from "lodash"
  import fakerData from "@/utils/faker"
  import Button from "@/base-components/Button"
  import Pagination from "@/base-components/Pagination"
  import {
    FormInput,
    FormSelect,
    FormInline,
    FormLabel,
  } from "@/base-components/Form"
  import Lucide from "@/base-components/Lucide"
  import { Menu } from "@/base-components/Headless"
  import TableServiceReport from "./TableServiceReport.vue"
  import { onMounted, reactive, ref } from "vue"
  import { IPaginate, IReportService, monthBase } from "@/_helper/types-api"
  import fetchWrapper from "@/utils/axios/fetch-wrapper"
  import { toast } from "vue3-toastify"

  //==== Get Data Start ====\\
  const listServiceReport = ref<IReportService[]>([])
  const pagination = ref<IPaginate>()
  const loading: any = ref(true)
  const date = new Date()
  const params = reactive({
    // type: "Bulanan",
    page: 1,
    limit: 10,
    // keyword: "",
    month: date.getUTCMonth() + 1,
    year: date.getUTCFullYear(),
    // sort_column: "itemName",
    // sort_direction: "asc",
  })
  const cols =
    ref([
      { field: "itemCode", title: "Kode", isUnique: true, sort: false },
      { field: "itemName", title: "Nama Service" },
      { field: "amountUsed", title: "Jumlah Item (Pada Transaksi)" },
      {
        field: "pointUsed",
        title: "Jumlah Point (Pada Transaksi)",
        type: "price",
      },
      {
        field: "totalPrice",
        title: "Jumlah Harga (Pada Transaksi)",
        type: "price",
      },
    ]) || []

  const getData = async () => {
    try {
      loading.value = true

      const response = await fetchWrapper.get("report/service", params)

      listServiceReport.value = response.data as IReportService[]
      pagination.value = response.meta as IPaginate
    } catch {}

    loading.value = false
  }

  const getParams = (data: any) => {
    params.page = data.current_page
    params.limit = data.pagesize
    // params.sort_column = data.sort_column
    // params.sort_direction = data.sort_direction

    getData()
  }
  //==== Get Data End ====\\

  // ==== Filter ==== //
  const filterMonth = ref(new Date())
  const filterEvent = (data: any) => {
    const currentDate = data
    params.month = currentDate?.getMonth() + 1
    params.year = currentDate?.getFullYear()
    getParams(params)
  }
  const datePickerSize = ref("large")
  const month = monthBase
  const year = [2023]

  // Print Excel
  const printTable = async () => {
    const data = {
      month: params.month.toString(),
      year: params.year.toString(),
    }
    try {
      await fetchWrapper.print("report/services/export", data)
    } catch (error: any) {
      toast.error(error.response?.data.message)
    }
  }

  onMounted(() => {
    setTimeout(() => {
      getData()
    }, 20)
  })
</script>

<template>
  <div
    class="flex justify-between items-center mt-10 p-4 rounded-md intro-y bg-white">
    <h2 class="text-lg font-medium intro-y">Service Report</h2>

    <div class="flex items-center gap-4 w-full mt-3 xl:w-auto xl:mt-0">
      <FormInline>
        <FormLabel htmlFor="horizontal-form-1" class="sm:w-20">
          Pilih Bulan
        </FormLabel>

        <el-date-picker
          v-model="filterMonth"
          @change="filterEvent"
          type="month"
          placeholder="Pilih Bulan"
          :size="datePickerSize" />
      </FormInline>

      <Button
        variant="primary"
        type="button"
        @click="
          () => {
            printTable()
          }
        "
        class="w-24 mr-1">
        Print
      </Button>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-6 mt-5">
    <div class="col-span-12 sm:col-span-6 lg:col-span-12">
      <div class="p-5 mt-5 intro-y box">
        <TableServiceReport
          :dataList="listServiceReport"
          :cols="cols"
          :params="params"
          :meta="pagination"
          :loading="loading"
          @update="getParams" />
      </div>
    </div>
  </div>
</template>
