<script setup lang="ts">
  import _ from "lodash"
  import { onMounted, reactive, ref } from "vue"
  import fakerData from "@/utils/faker"
  import Button from "@/base-components/Button"
  import Pagination from "@/base-components/Pagination"
  import { FormInput, FormSelect } from "@/base-components/Form"
  import Lucide from "@/base-components/Lucide"
  import Tippy from "@/base-components/Tippy"
  import { Dialog, Menu } from "@/base-components/Headless"
  import Table from "@/base-components/Table"
  import { formatCurrency } from "@/utils/helper"
  import {
    IPaginate,
    IService,
    IServiceCategory,
    IServiceCategoryInput,
  } from "@/_helper/types-api"
  import { useServiceStore } from "@/stores/api/service-store"
  import { useAuthStore } from "@/stores/api/auth-store"
  import fetchWrapper from "@/utils/axios/fetch-wrapper"
  import TableCategory from "./TableCategory.vue"
  import { toast } from "vue3-toastify"
  import { Search } from "@element-plus/icons-vue"
  import DialogCategory from "./DialogCategory.vue"

  //==== Get Data Start ====\\
  const listCategory = ref<IServiceCategory[]>([])
  const pagination = ref<IPaginate>()
  const loading: any = ref(true)
  const params = reactive({
    keyword: null,
    page: 1,
    limit: 20,
    sort_column: "id",
    sort_direction: "asc",
  })
  const cols =
    ref([
      { field: "categoryCode", title: "Kode", isUnique: true, sort: false },
      { field: "categoryName", title: "Nama Kategori" },
      { field: "totalService", title: "Jumlah Service" },
      { field: "createdAt", title: "Tanggal Dibuat", type: "dateTime" },
      { field: "actions", title: "Action", sort: false },
    ]) || []

  const getData = async () => {
    try {
      loading.value = true

      const response = await fetchWrapper.get("item/category", params)

      listCategory.value = response?.data as IServiceCategory[]
      pagination.value = response.meta as IPaginate
    } catch {}

    loading.value = false
  }

  const getParams = (data: any) => {
    params.page = data.current_page
    params.limit = data.pagesize
    params.sort_column = data.sort_column
    params.sort_direction = data.sort_direction

    getData()
  }
  //==== Get Data End ====\\

  // Dialog Start
  const dialog = ref(false)
  const dataEdit = ref<IServiceCategoryInput>({
    _id: "",
    categoryName: "",
  })

  const initialFormData = { ...dataEdit }

  const closeDialog = () => {
    Object.assign(dataEdit, initialFormData)
  }

  const isEdit = ref(false)
  const editData = (data: any) => {
    dialog.value = true
    isEdit.value = true
    dataEdit.value = data.value
  }
  // Dialog End

  const clearFilter = () => {
    params.keyword = null
    getData()
  }
  onMounted(() => {
    setTimeout(() => {
      getData()
    }, 20)
  })

  const deleteConfirmationModal = ref(false)
  const setDeleteConfirmationModal = (value: boolean, data: any) => {
    deleteConfirmationModal.value = value
    if (value === false) {
      Object.assign(dataEdit, initialFormData)
    } else {
      dataEdit.value = data
    }
  }
  const deleteButtonRef = ref(null)
  const deleteData = async () => {
    try {
      const categoryId = dataEdit.value?._id
      const response = await fetchWrapper.delete(
        `services/category/${categoryId}`
      )
      toast.success(response.message)
      Object.assign(editData, initialFormData)
      setDeleteConfirmationModal(false, {})
      getData()
    } catch (error: any) {
      toast.error(error.response?.message || error)
    }
  }
</script>

<template>
  <div class="flex justify-between items-center mt-10 p-4 rounded-md bg-white">
    <h2 class="text-lg font-medium intro-y">Category</h2>
    <div
      class="flex flex-wrap items-center col-span-12 mt-2 intro-y sm:flex-nowrap">
      <Button @click="dialog = true" variant="primary" class="mr-2 shadow-md">
        Add New Category
      </Button>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-6 mt-5">
    <div
      class="flex justify-between flex-wrap items-center col-span-12 mt-2 intro-y sm:flex-nowrap">
      <div class="w-full mt-3 sm:w-auto sm:mt-0 sm:ml-auto md:ml-0">
        <div class="flex gap-3 w-full text-slate-500">
          <div class="relative w-full text-slate-500">
            <el-input
              v-model="params.keyword"
              size="large"
              placeholder="Cari ..."
              :suffix-icon="Search"
              :style="{ borderRadius: `var(--el-border-radius-round)` }" />
          </div>
          <button
            v-if="params.keyword"
            @click="clearFilter"
            class="grow-0 text-center text-red-600 font-bold">
            Clear
          </button>
        </div>
      </div>
    </div>
    <!-- BEGIN: Data List -->
    <div class="col-span-12 overflow-auto intro-y lg:overflow-visible">
      <TableCategory
        :dataList="listCategory"
        :cols="cols"
        :meta="pagination"
        :params="params"
        :loading="loading"
        @update="getParams"
        @edit="(data: any) => {
          editData(data)
        }"
        @delete="(data: any) => {
          setDeleteConfirmationModal(true, data)
        }" />
    </div>
    <!-- END: Data List -->
  </div>

  <DialogCategory
    :modalPreview="dialog"
    :is-edit="isEdit"
    :data="dataEdit"
    @close="
      () => {
        isEdit = false
        dialog = false
        closeDialog()
      }
    "
    @update="
      () => {
        dialog = false
        getData()
      }
    " />

  <!-- BEGIN: Delete Confirmation Modal -->
  <Dialog
    :open="deleteConfirmationModal"
    @close="
      () => {
        setDeleteConfirmationModal(false, {})
      }
    "
    :initialFocus="deleteButtonRef">
    <Dialog.Panel>
      <div class="p-5 text-center">
        <Lucide icon="XCircle" class="w-16 h-16 mx-auto mt-3 text-danger" />
        <div class="mt-5 text-3xl">Are you sure?</div>
        <div class="mt-2 text-slate-500">
          Do you really want to delete these records? <br />
          This process cannot be undone.
        </div>
      </div>
      <div class="px-5 pb-8 text-center">
        <Button
          variant="outline-secondary"
          type="button"
          @click="
            () => {
              setDeleteConfirmationModal(false, {})
            }
          "
          class="w-24 mr-1">
          Cancel
        </Button>
        <Button
          variant="danger"
          @click="deleteData"
          type="button"
          class="w-24"
          ref="deleteButtonRef">
          Delete
        </Button>
      </div>
    </Dialog.Panel>
  </Dialog>
  <!-- END: Delete Confirmation Modal -->
</template>
